/Ejercicio_3_18/target/
/Ejercicio-3-18/nbproject/private/
/Ejercicio-3-18/build/
/Ejercicio-3-18/dist/
/Parte-2-ObjetosGeom/nbproject/private/
/Parte-2-ObjetosGeom/build/
/Parte-2-ObjetosGeom/dist/
/Ejercicio-4-22/nbproject/private/
/Ejercicio-4-22/build/
/Ejercicio-4-22/dist/
/Ejercicio-4-23/nbproject/private/
/Ejercicio-4-24/nbproject/private/
/Ejercicio-4-23/build/
/Ejercicio-4-23/dist/
/Ejercicio-4-24/build/
/Ejercicio-4-24/dist/
/Ejercicio-3-20/nbproject/private/
